/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #cda0ff;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
